# SnapCinema 2023 - Extract and Clean

Broken into 4 parts. This Notebook is for the extraction/cleaning of our project data. Our product will be used in the analysis of Trends and the eventual deployment of a web app. Data is scrapped from 'www.BoxOfficeMojo.com'. Additionally, data is pulled from YouTube's api. This is broken into 4 sections in this notebook.

### Contents:

1. [Merged Holiday/Non-Holiday Tables](#Holiday-Tables-2019-2023)
2. [Top Movies 2023 vs All Time](#Top-Movies-of-2023-vs-All-Time)
3. [2023 Worldwide Box Office](#2023-Worldwide-Box-Office)
4. [Movies and Trailers - Fun Facts](#Movies-and-Trailers-Fun-Facts)
      * This section requires the user to have a valid YouTube api-key, see code and dependencies

In [1]:
# import dependencies
import pandas as pd
import requests
import numpy as np

In [2]:

# Holidays 2019-2023 links:
url_holiday_2019 = 'https://www.boxofficemojo.com/holiday/by-year/2019/?grossesOption=calendarGrosses'
url_holiday_2020 = 'https://www.boxofficemojo.com/holiday/by-year/2020/?grossesOption=calendarGrosses'
url_holiday_2021 = 'https://www.boxofficemojo.com/holiday/by-year/2021/?grossesOption=calendarGrosses'
url_holiday_2022 = 'https://www.boxofficemojo.com/holiday/by-year/2022/?grossesOption=calendarGrosses'
url_holiday_2023 = 'https://www.boxofficemojo.com/holiday/by-year/2023/?grossesOption=calendarGrosses'

# retrieve html for links
response1 = requests.get(url_holiday_2019)
response2 = requests.get(url_holiday_2020)
response3 = requests.get(url_holiday_2021)
response4 = requests.get(url_holiday_2022)
response5 = requests.get(url_holiday_2023)

# Read responses into tables
holidays_2019 = pd.read_html(response1.text)
holidays_2020 = pd.read_html(response2.text)
holidays_2021 = pd.read_html(response3.text)
holidays_2022 = pd.read_html(response4.text)
holidays_2023 = pd.read_html(response5.text)

## Holiday Tables 2019-2023
---

In [3]:
# Create Dataframes
holidays_2019_df = holidays_2019[0]
holidays_2020_df = holidays_2020[0]
holidays_2021_df = holidays_2021[0]
holidays_2022_df = holidays_2022[0]
holidays_2023_df = holidays_2023[0]

display(len(holidays_2019_df), len(holidays_2020_df), len(holidays_2021_df), len(holidays_2022_df), len(holidays_2023_df))

22

22

23

25

25

In [4]:
# The classification of holidays is different year to year
display(holidays_2019_df['Holiday'].values)
display(holidays_2020_df['Holiday'].values)
display(holidays_2021_df['Holiday'].values)
display(holidays_2022_df['Holiday'].values)
display(holidays_2023_df['Holiday'].values)

array(["New Year's Eve", 'Christmas Day', 'Post-Thanksgiving Weekend',
       'Thanksgiving Weekend', 'Thanksgiving 4-Day Weekend',
       'Thanksgiving', 'Thanksgiving 5-Day Weekend', 'Halloween',
       "Indigenous People's Day", "Indigenous People's Day Weekend",
       'Labor Day', 'Labor Day Weekend', 'Independence Day',
       'Memorial Day', 'Memorial Day Weekend', 'Easter', 'Easter Weekend',
       "President's Day", "President's Day Weekend", 'MLK Day',
       'MLK Day Weekend', "New Year's Day"], dtype=object)

array(["New Year's Eve", 'Christmas Day', 'Post-Thanksgiving Weekend',
       'Thanksgiving Weekend', 'Thanksgiving 4-Day Weekend',
       'Thanksgiving', 'Thanksgiving 5-Day Weekend', 'Halloween',
       "Indigenous People's Day", "Indigenous People's Day Weekend",
       'Labor Day', 'Labor Day Weekend', 'Independence Day',
       'Memorial Day', 'Memorial Day Weekend', 'Easter', 'Easter Weekend',
       "President's Day", "President's Day Weekend", 'MLK Day',
       'MLK Day Weekend', "New Year's Day"], dtype=object)

array(["New Year's Eve", 'Christmas Day', 'Post-Thanksgiving Weekend',
       'Thanksgiving Weekend', 'Thanksgiving 4-Day Weekend',
       'Thanksgiving', 'Thanksgiving 5-Day Weekend', 'Halloween',
       "Indigenous People's Day", "Indigenous People's Day Weekend",
       'Labor Day', 'Labor Day Weekend', 'Independence Day',
       'Independence Day Weekend', 'Memorial Day', 'Memorial Day Weekend',
       'Easter', 'Easter Weekend', "President's Day",
       "President's Day Weekend", 'MLK Day', 'MLK Day Weekend',
       "New Year's Day"], dtype=object)

array(["New Year's Eve", 'Christmas Day', 'Christmas Weekend',
       'Post-Thanksgiving Weekend', 'Thanksgiving Weekend',
       'Thanksgiving 4-Day Weekend', 'Thanksgiving',
       'Thanksgiving 5-Day Weekend', 'Halloween',
       "Indigenous People's Day", "Indigenous People's Day Weekend",
       'Labor Day', 'Labor Day Weekend', 'Independence Day',
       'Independence Day Weekend', 'Memorial Day', 'Memorial Day Weekend',
       'Easter', 'Easter Weekend', "President's Day",
       "President's Day Weekend", 'MLK Day', 'MLK Day Weekend',
       "New Year's Day", 'New Year Weekend'], dtype=object)

array(["New Year's Eve", 'Christmas Day', 'Christmas Weekend',
       'Post-Thanksgiving Weekend', 'Thanksgiving Weekend',
       'Thanksgiving 4-Day Weekend', 'Thanksgiving',
       'Thanksgiving 5-Day Weekend', 'Halloween',
       "Indigenous People's Day", "Indigenous People's Day Weekend",
       'Labor Day', 'Labor Day Weekend', 'Independence Day',
       'Independence Day Weekend', 'Memorial Day', 'Memorial Day Weekend',
       'Easter', 'Easter Weekend', "President's Day",
       "President's Day Weekend", 'MLK Day', 'MLK Day Weekend',
       "New Year's Day", 'New Year Weekend'], dtype=object)

In [5]:
# Trim the columns to Holiday, Cumulative Gross, Releases
holidays_2019_df = holidays_2019_df[['Holiday', 'Cumulative Gross', 'Releases']]
holidays_2020_df = holidays_2020_df[['Holiday', 'Cumulative Gross', 'Releases']]
holidays_2021_df = holidays_2021_df[['Holiday', 'Cumulative Gross', 'Releases']]
holidays_2022_df = holidays_2022_df[['Holiday', 'Cumulative Gross', 'Releases']]
holidays_2023_df = holidays_2023_df[['Holiday', 'Cumulative Gross', 'Releases']]

### 2019 Holiday Table

In [6]:
df_2019 = holidays_2019_df.copy()

In [7]:
# Convert each Table
df_2019['Cumulative Gross'] = df_2019['Cumulative Gross'].str.replace(',', '')
df_2019['Cumulative Gross'] = df_2019['Cumulative Gross'].str.replace('$', '')
df_2019['Cumulative Gross'] = df_2019['Cumulative Gross'].astype('int64', copy=True)

In [8]:
df_2019

                            Holiday  Cumulative Gross  Releases
0                    New Year's Eve          43962854        54
1                     Christmas Day          78632563        54
2         Post-Thanksgiving Weekend          90326095        87
3              Thanksgiving Weekend         180855568        90
4        Thanksgiving 4-Day Weekend         215903776        54
5                      Thanksgiving          35370976        52
6        Thanksgiving 5-Day Weekend         262269314        58
7                         Halloween           9536976        54
8           Indigenous People's Day          20973935        56
9   Indigenous People's Day Weekend         161052554        59
10                        Labor Day          28378818        57
11                Labor Day Weekend         120764144        82
12                 Independence Day          46565065        54
13                     Memorial Day          49413282        52
14             Memorial Day Weekend         230819376        97
15                           Easter          24977589        70
16                   Easter Weekend         121560823        74
17                  President's Day          26069665        63
18          President's Day Weekend         152447001        86
19                          MLK Day          32478230        51
20                  MLK Day Weekend         162367073        69
21                   New Year's Day          59578286        53

In [9]:
# Drop redundant holiday rows
df_2019_trim = df_2019.drop([2,3,4,5,8,10,13,15,17,19])
# Reset Index
df_2019_trim.reset_index(inplace=True)
# Trim the columns
df_2019_trim = df_2019_trim[['Holiday', 'Cumulative Gross', 'Releases']]

df_2019_trim

                            Holiday  Cumulative Gross  Releases
0                    New Year's Eve          43962854        54
1                     Christmas Day          78632563        54
2        Thanksgiving 5-Day Weekend         262269314        58
3                         Halloween           9536976        54
4   Indigenous People's Day Weekend         161052554        59
5                 Labor Day Weekend         120764144        82
6                  Independence Day          46565065        54
7              Memorial Day Weekend         230819376        97
8                    Easter Weekend         121560823        74
9           President's Day Weekend         152447001        86
10                  MLK Day Weekend         162367073        69
11                   New Year's Day          59578286        53

In [10]:
# Encode each holiday as a month
# holiday month list
month_name_list = []

# loop thru list
for i in range(len(df_2019_trim)):
    if df_2019_trim['Holiday'].iloc[i] in ["New Year's Eve", "Christmas Day"]:
        month_name_list.append('December')
    elif df_2019_trim['Holiday'].iloc[i] in ["Thanksgiving 5-Day Weekend"]:
        month_name_list.append('November')
    elif df_2019_trim['Holiday'].iloc[i] in ["Halloween", "Indigenous People's Day Weekend"]:
        month_name_list.append('October')
    elif df_2019_trim['Holiday'].iloc[i] in ["Labor Day Weekend"]:
        month_name_list.append('September')
    elif df_2019_trim['Holiday'].iloc[i] in ['Independence Day']:
        month_name_list.append('July')
    elif df_2019_trim['Holiday'].iloc[i] in ['Memorial Day Weekend']: 
        month_name_list.append('May')
    elif df_2019_trim['Holiday'].iloc[i] in ['Easter Weekend']: 
        month_name_list.append('April')
    elif df_2019_trim['Holiday'].iloc[i] in ["President's Day Weekend"]: 
        month_name_list.append('February')
    else:
        month_name_list.append('January')
        
display(len(month_name_list))

# Add lists to df as columns
df_2019_trim['Month'] = month_name_list
df_2019_trim['Year'] = [int(2020) for x in range(len(df_2019_trim))]

df_2019_trim = df_2019_trim[['Month', 'Year', 'Holiday', 'Cumulative Gross', 'Releases']]

df_2019_trim

12

,Month,Year,Holiday,Cumulative Gross,Releases
0,December,2020,New Year's Eve,43962854,54
1,December,2020,Christmas Day,78632563,54
2,November,2020,Thanksgiving 5-Day Weekend,262269314,58
3,October,2020,Halloween,9536976,54
4,October,2020,Indigenous People's Day Weekend,161052554,59
5,September,2020,Labor Day Weekend,120764144,82
6,July,2020,Independence Day,46565065,54
7,May,2020,Memorial Day Weekend,230819376,97
8,April,2020,Easter Weekend,121560823,74
9,February,2020,President's Day Weekend,152447001,86
10,January,2020,MLK Day Weekend,162367073,69
11,January,2020,New Year's Day,59578286,53

In [11]:
# Sum up the Gross Rev and # of Releases for each month
df_month_2019 = df_2019_trim[['Month', 'Cumulative Gross', 'Releases']].groupby(by='Month').sum()

# Add a Year Column
df_month_2019['Year'] = [int(2019) for x in range(len(df_month_2019))]

# Reset the Index and Trim the Dataframe
df_month_2019 = df_month_2019.reset_index()
df_month_2019 = df_month_2019[['Month', 'Year', 'Cumulative Gross', 'Releases']]

# Rename columns
df_month_2019 = df_month_2019.rename(columns = {'Cumulative Gross': 'Holiday Gross', 'Releases': 'Holiday Releases'})

df_month_2019

       Month  Year  Holiday Gross  Holiday Releases
0      April  2019      121560823                74
1   December  2019      122595417               108
2   February  2019      152447001                86
3    January  2019      221945359               122
4       July  2019       46565065                54
5        May  2019      230819376                97
6   November  2019      262269314                58
7    October  2019      170589530               113
8  September  2019      120764144                82

### 2020 Holiday Table

In [12]:
holidays_2020_df

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve       $2,933,369        17
1                     Christmas Day      $10,214,882        27
2         Post-Thanksgiving Weekend       $8,397,393        41
3              Thanksgiving Weekend      $14,152,936        41
4        Thanksgiving 4-Day Weekend      $17,660,248        29
5                      Thanksgiving       $3,570,668        27
6        Thanksgiving 5-Day Weekend      $20,251,599        36
7                         Halloween       $3,791,211        35
8           Indigenous People's Day       $1,001,260        29
9   Indigenous People's Day Weekend      $11,259,812        32
10                        Labor Day       $3,647,082        13
11                Labor Day Weekend      $19,858,242        25
12                 Independence Day          $74,261         9
13                     Memorial Day          $21,831         6
14             Memorial Day Weekend         $240,390         6
15                           Easter             $564         2
16                   Easter Weekend           $3,675         2
17                  President's Day      $26,970,250        54
18          President's Day Weekend     $182,920,720        78
19                          MLK Day      $38,928,355        56
20                  MLK Day Weekend     $205,302,432        61
21                   New Year's Day      $56,507,431        54

In [13]:
# Drop redundant holiday rows
df_2020_trim = holidays_2020_df.drop([2,3,4,5,8,10,13,15,17,19])
# Reset Index
df_2020_trim.reset_index(inplace=True)
# Trim the columns
df_2020_trim = df_2020_trim[['Holiday', 'Cumulative Gross', 'Releases']]

df_2020_trim

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve       $2,933,369        17
1                     Christmas Day      $10,214,882        27
2        Thanksgiving 5-Day Weekend      $20,251,599        36
3                         Halloween       $3,791,211        35
4   Indigenous People's Day Weekend      $11,259,812        32
5                 Labor Day Weekend      $19,858,242        25
6                  Independence Day          $74,261         9
7              Memorial Day Weekend         $240,390         6
8                    Easter Weekend           $3,675         2
9           President's Day Weekend     $182,920,720        78
10                  MLK Day Weekend     $205,302,432        61
11                   New Year's Day      $56,507,431        54

In [14]:
# Convert Table
df_2020_trim['Cumulative Gross'] = df_2020_trim['Cumulative Gross'].str.replace(',', '')
df_2020_trim['Cumulative Gross'] = df_2020_trim['Cumulative Gross'].str.replace('$', '')
df_2020_trim['Cumulative Gross'] = df_2020_trim['Cumulative Gross'].astype('int64', copy=True)

In [15]:
# Encode each holiday as a month
# holiday month list
month_name_list = []

# loop thru list
for i in range(len(df_2020_trim)):
    if df_2020_trim['Holiday'].iloc[i] in ["New Year's Eve", "Christmas Day"]:
        month_name_list.append('December')
    elif df_2020_trim['Holiday'].iloc[i] in ["Thanksgiving 5-Day Weekend"]:
        month_name_list.append('November')
    elif df_2020_trim['Holiday'].iloc[i] in ["Halloween", "Indigenous People's Day Weekend"]:
        month_name_list.append('October')
    elif df_2020_trim['Holiday'].iloc[i] in ["Labor Day Weekend"]:
        month_name_list.append('September')
    elif df_2020_trim['Holiday'].iloc[i] in ['Independence Day']:
        month_name_list.append('July')
    elif df_2020_trim['Holiday'].iloc[i] in ['Memorial Day Weekend']: 
        month_name_list.append('May')
    elif df_2020_trim['Holiday'].iloc[i] in ['Easter Weekend']: 
        month_name_list.append('April')
    elif df_2020_trim['Holiday'].iloc[i] in ["President's Day Weekend"]: 
        month_name_list.append('February')
    else:
        month_name_list.append('January')
        
display(len(month_name_list))

# Add lists to df as columns
df_2020_trim['Month'] = month_name_list
df_2020_trim['Year'] = [int(2020) for x in range(len(df_2020_trim))]

df_2020_trim = df_2020_trim[['Month', 'Year', 'Holiday', 'Cumulative Gross', 'Releases']]

df_2020_trim

12

,Month,Year,Holiday,Cumulative Gross,Releases
0,December,2020,New Year's Eve,2933369,17
1,December,2020,Christmas Day,10214882,27
2,November,2020,Thanksgiving 5-Day Weekend,20251599,36
3,October,2020,Halloween,3791211,35
4,October,2020,Indigenous People's Day Weekend,11259812,32
5,September,2020,Labor Day Weekend,19858242,25
6,July,2020,Independence Day,74261,9
7,May,2020,Memorial Day Weekend,240390,6
8,April,2020,Easter Weekend,3675,2
9,February,2020,President's Day Weekend,182920720,78
10,January,2020,MLK Day Weekend,205302432,61
11,January,2020,New Year's Day,56507431,54

In [16]:
# Sum up the Gross Rev and # of Releases for each month
df_month_2020 = df_2020_trim[['Month', 'Cumulative Gross', 'Releases']].groupby(by='Month').sum()

# Add a Year Column
df_month_2020['Year'] = [int(2020) for x in range(len(df_month_2020))]

# Reset the Index and Trim the Dataframe
df_month_2020 = df_month_2020.reset_index()
df_month_2020 = df_month_2020[['Month', 'Year', 'Cumulative Gross', 'Releases']]

# Rename columns
df_month_2020 = df_month_2020.rename(columns = {'Cumulative Gross': 'Holiday Gross', 'Releases': 'Holiday Releases'})

df_month_2020

       Month  Year  Holiday Gross  Holiday Releases
0      April  2020           3675                 2
1   December  2020       13148251                44
2   February  2020      182920720                78
3    January  2020      261809863               115
4       July  2020          74261                 9
5        May  2020         240390                 6
6   November  2020       20251599                36
7    October  2020       15051023                67
8  September  2020       19858242                25

### 2021 Holiday Table

In [17]:
holidays_2021_df

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve      $28,345,913        25
1                     Christmas Day      $58,100,508        26
2         Post-Thanksgiving Weekend      $52,704,939        47
3              Thanksgiving Weekend      $96,526,140        51
4        Thanksgiving 4-Day Weekend     $116,694,008        38
5                      Thanksgiving      $20,380,609        35
6        Thanksgiving 5-Day Weekend     $142,082,464        42
7                         Halloween      $16,292,807        34
8           Indigenous People's Day      $14,257,686        29
9   Indigenous People's Day Weekend     $122,533,028        34
10                        Labor Day      $27,956,357        29
11                Labor Day Weekend     $139,020,923        48
12                 Independence Day      $13,942,768        29
13         Independence Day Weekend      $87,171,208        46
14                     Memorial Day      $16,921,053        29
15             Memorial Day Weekend      $97,874,228        45
16                           Easter       $9,926,895        28
17                   Easter Weekend      $47,518,581        28
18                  President's Day       $1,442,792        23
19          President's Day Weekend      $13,132,939        32
20                          MLK Day       $1,980,358        19
21                  MLK Day Weekend      $12,907,583        21
22                   New Year's Day       $4,669,052        22

In [18]:
# Drop redundant holiday rows
df_2021_trim = holidays_2021_df.drop([2,3,4,5,8,10,12,14,16,18,20])
# Reset Index
df_2021_trim.reset_index(inplace=True)
# Trim the columns
df_2021_trim = df_2021_trim[['Holiday', 'Cumulative Gross', 'Releases']]

df_2021_trim

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve      $28,345,913        25
1                     Christmas Day      $58,100,508        26
2        Thanksgiving 5-Day Weekend     $142,082,464        42
3                         Halloween      $16,292,807        34
4   Indigenous People's Day Weekend     $122,533,028        34
5                 Labor Day Weekend     $139,020,923        48
6          Independence Day Weekend      $87,171,208        46
7              Memorial Day Weekend      $97,874,228        45
8                    Easter Weekend      $47,518,581        28
9           President's Day Weekend      $13,132,939        32
10                  MLK Day Weekend      $12,907,583        21
11                   New Year's Day       $4,669,052        22

In [19]:
# Convert Table
df_2021_trim['Cumulative Gross'] = df_2021_trim['Cumulative Gross'].str.replace(',', '')
df_2021_trim['Cumulative Gross'] = df_2021_trim['Cumulative Gross'].str.replace('$', '')
df_2021_trim['Cumulative Gross'] = df_2021_trim['Cumulative Gross'].astype('int64', copy=True)

In [20]:
# Encode each holiday as a month
# holiday month list
month_name_list = []

# loop thru list
for i in range(len(df_2020_trim)):
    if df_2021_trim['Holiday'].iloc[i] in ["New Year's Eve", "Christmas Day"]:
        month_name_list.append('December')
    elif df_2021_trim['Holiday'].iloc[i] in ["Thanksgiving 5-Day Weekend"]:
        month_name_list.append('November')
    elif df_2021_trim['Holiday'].iloc[i] in ["Halloween", "Indigenous People's Day Weekend"]:
        month_name_list.append('October')
    elif df_2021_trim['Holiday'].iloc[i] in ["Labor Day Weekend"]:
        month_name_list.append('September')
    elif df_2021_trim['Holiday'].iloc[i] in ['Independence Day', 'Independence Day Weekend']:
        month_name_list.append('July')
    elif df_2021_trim['Holiday'].iloc[i] in ['Memorial Day Weekend']: 
        month_name_list.append('May')
    elif df_2021_trim['Holiday'].iloc[i] in ['Easter Weekend']: 
        month_name_list.append('April')
    elif df_2021_trim['Holiday'].iloc[i] in ["President's Day Weekend"]: 
        month_name_list.append('February')
    else:
        month_name_list.append('January')
        
display(len(month_name_list))

# Add lists to df as columns
df_2021_trim['Month'] = month_name_list
df_2021_trim['Year'] = [int(2021) for x in range(len(df_2021_trim))]

df_2021_trim = df_2021_trim[['Month', 'Year', 'Holiday', 'Cumulative Gross', 'Releases']]

df_2021_trim

12

,Month,Year,Holiday,Cumulative Gross,Releases
0,December,2021,New Year's Eve,28345913,25
1,December,2021,Christmas Day,58100508,26
2,November,2021,Thanksgiving 5-Day Weekend,142082464,42
3,October,2021,Halloween,16292807,34
4,October,2021,Indigenous People's Day Weekend,122533028,34
5,September,2021,Labor Day Weekend,139020923,48
6,July,2021,Independence Day Weekend,87171208,46
7,May,2021,Memorial Day Weekend,97874228,45
8,April,2021,Easter Weekend,47518581,28
9,February,2021,President's Day Weekend,13132939,32
10,January,2021,MLK Day Weekend,12907583,21
11,January,2021,New Year's Day,4669052,22

In [21]:
# Sum up the Gross Rev and # of Releases for each month
df_month_2021 = df_2021_trim[['Month', 'Cumulative Gross', 'Releases']].groupby(by='Month').sum()

# Add a Year Column
df_month_2021['Year'] = [int(2021) for x in range(len(df_month_2021))]

# Reset the Index and Trim the Dataframe
df_month_2021 = df_month_2021.reset_index()
df_month_2021 = df_month_2021[['Month', 'Year', 'Cumulative Gross', 'Releases']]

# Rename columns
df_month_2021 = df_month_2021.rename(columns = {'Cumulative Gross': 'Holiday Gross', 'Releases': 'Holiday Releases'})

df_month_2021

       Month  Year  Holiday Gross  Holiday Releases
0      April  2021       47518581                28
1   December  2021       86446421                51
2   February  2021       13132939                32
3    January  2021       17576635                43
4       July  2021       87171208                46
5        May  2021       97874228                45
6   November  2021      142082464                42
7    October  2021      138825835                68
8  September  2021      139020923                48

### 2022 Holiday Table

In [22]:
holidays_2022_df

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve      $28,295,543        31
1                     Christmas Day      $43,796,821        28
2                 Christmas Weekend     $142,814,390        33
3         Post-Thanksgiving Weekend      $52,669,526        54
4              Thanksgiving Weekend      $93,780,231        49
5        Thanksgiving 4-Day Weekend     $111,394,577        36
6                      Thanksgiving      $17,723,816        31
7        Thanksgiving 5-Day Weekend     $134,030,714        37
8                         Halloween       $7,440,404        34
9           Indigenous People's Day       $8,616,769        39
10  Indigenous People's Day Weekend      $67,265,387        45
11                        Labor Day      $15,686,573        42
12                Labor Day Weekend      $71,172,772        55
13                 Independence Day      $33,658,614        27
14         Independence Day Weekend     $223,580,059        40
15                     Memorial Day      $46,104,550        35
16             Memorial Day Weekend     $223,364,859        47
17                           Easter      $24,558,467        27
18                   Easter Weekend     $119,498,996        28
19                  President's Day      $16,906,848        39
20          President's Day Weekend     $111,455,709        51
21                          MLK Day      $13,547,490        27
22                  MLK Day Weekend      $85,074,757        37
23                   New Year's Day      $40,328,448        26
24                 New Year Weekend     $136,047,635        39

In [23]:
# Drop redundant holiday rows
df_2022_trim = holidays_2022_df.drop([1,3,4,5,6,9,11,13,15,17,19,21,24])
# Reset Index
df_2022_trim.reset_index(inplace=True)
# Trim the columns
df_2022_trim = df_2022_trim[['Holiday', 'Cumulative Gross', 'Releases']]

df_2022_trim

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve      $28,295,543        31
1                 Christmas Weekend     $142,814,390        33
2        Thanksgiving 5-Day Weekend     $134,030,714        37
3                         Halloween       $7,440,404        34
4   Indigenous People's Day Weekend      $67,265,387        45
5                 Labor Day Weekend      $71,172,772        55
6          Independence Day Weekend     $223,580,059        40
7              Memorial Day Weekend     $223,364,859        47
8                    Easter Weekend     $119,498,996        28
9           President's Day Weekend     $111,455,709        51
10                  MLK Day Weekend      $85,074,757        37
11                   New Year's Day      $40,328,448        26

In [24]:
# Convert Table
df_2022_trim['Cumulative Gross'] = df_2022_trim['Cumulative Gross'].str.replace(',', '')
df_2022_trim['Cumulative Gross'] = df_2022_trim['Cumulative Gross'].str.replace('$', '')
df_2022_trim['Cumulative Gross'] = df_2022_trim['Cumulative Gross'].astype('int64', copy=True)

In [25]:
# Encode each holiday as a month
# holiday month list
month_name_list = []

# loop thru list
for i in range(len(df_2020_trim)):
    if df_2022_trim['Holiday'].iloc[i] in ["New Year's Eve", "Christmas Day", "Christmas Weekend"]:
        month_name_list.append('December')
    elif df_2022_trim['Holiday'].iloc[i] in ["Thanksgiving 5-Day Weekend"]:
        month_name_list.append('November')
    elif df_2022_trim['Holiday'].iloc[i] in ["Halloween", "Indigenous People's Day Weekend"]:
        month_name_list.append('October')
    elif df_2022_trim['Holiday'].iloc[i] in ["Labor Day Weekend"]:
        month_name_list.append('September')
    elif df_2022_trim['Holiday'].iloc[i] in ['Independence Day', 'Independence Day Weekend']:
        month_name_list.append('July')
    elif df_2022_trim['Holiday'].iloc[i] in ['Memorial Day Weekend']: 
        month_name_list.append('May')
    elif df_2022_trim['Holiday'].iloc[i] in ['Easter Weekend']: 
        month_name_list.append('April')
    elif df_2022_trim['Holiday'].iloc[i] in ["President's Day Weekend"]: 
        month_name_list.append('February')
    else:
        month_name_list.append('January')
        
display(len(month_name_list))

# Add lists to df as columns
df_2022_trim['Month'] = month_name_list
df_2022_trim['Year'] = [int(2022) for x in range(len(df_2022_trim))]

df_2022_trim = df_2022_trim[['Month', 'Year', 'Holiday', 'Cumulative Gross', 'Releases']]

df_2022_trim

12

,Month,Year,Holiday,Cumulative Gross,Releases
0,December,2022,New Year's Eve,28295543,31
1,December,2022,Christmas Weekend,142814390,33
2,November,2022,Thanksgiving 5-Day Weekend,134030714,37
3,October,2022,Halloween,7440404,34
4,October,2022,Indigenous People's Day Weekend,67265387,45
5,September,2022,Labor Day Weekend,71172772,55
6,July,2022,Independence Day Weekend,223580059,40
7,May,2022,Memorial Day Weekend,223364859,47
8,April,2022,Easter Weekend,119498996,28
9,February,2022,President's Day Weekend,111455709,51
10,January,2022,MLK Day Weekend,85074757,37
11,January,2022,New Year's Day,40328448,26

In [26]:
# Sum up the Gross Rev and # of Releases for each month
df_month_2022 = df_2022_trim[['Month', 'Cumulative Gross', 'Releases']].groupby(by='Month').sum()

# Add a Year Column
df_month_2022['Year'] = [int(2022) for x in range(len(df_month_2022))]

# Reset the Index and Trim the Dataframe
df_month_2022 = df_month_2022.reset_index()
df_month_2022 = df_month_2022[['Month', 'Year', 'Cumulative Gross', 'Releases']]

# Rename columns
df_month_2022 = df_month_2022.rename(columns = {'Cumulative Gross': 'Holiday Gross', 'Releases': 'Holiday Releases'})

df_month_2022

       Month  Year  Holiday Gross  Holiday Releases
0      April  2022      119498996                28
1   December  2022      171109933                64
2   February  2022      111455709                51
3    January  2022      125403205                63
4       July  2022      223580059                40
5        May  2022      223364859                47
6   November  2022      134030714                37
7    October  2022       74705791                79
8  September  2022       71172772                55

### 2023 Holiday Table

In [27]:
holidays_2023_df

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve      $25,883,170        39
1                     Christmas Day      $63,107,349        39
2                 Christmas Weekend     $157,152,539        41
3         Post-Thanksgiving Weekend      $97,110,956        51
4              Thanksgiving Weekend     $115,964,224        53
5        Thanksgiving 4-Day Weekend     $138,550,022        37
6                      Thanksgiving      $22,728,673        31
7        Thanksgiving 5-Day Weekend     $173,203,005        40
8                         Halloween      $10,315,133        35
9           Indigenous People's Day      $10,021,464        44
10  Indigenous People's Day Weekend      $82,594,224        48
11                        Labor Day      $25,795,551        39
12                Labor Day Weekend     $115,070,634        60
13                 Independence Day      $40,230,985        23
14         Independence Day Weekend     $196,321,885        28
15                     Memorial Day      $40,549,480        36
16             Memorial Day Weekend     $203,750,914        61
17                           Easter      $48,714,791        36
18                   Easter Weekend     $231,916,311        39
19                  President's Day      $22,125,148        36
20          President's Day Weekend     $166,970,765        57
21                          MLK Day      $21,708,737        32
22                  MLK Day Weekend     $124,779,112        43
23                   New Year's Day      $36,533,901        31
24                 New Year Weekend     $145,499,108        48

In [28]:
# Drop redundant holiday rows
df_2023_trim = holidays_2023_df.drop([1, 3, 4, 5, 6, 9, 11, 13, 15, 17, 19, 21, 24])
# Reset Index
df_2023_trim.reset_index(inplace=True)
# Trim the columns
df_2023_trim = df_2023_trim[['Holiday', 'Cumulative Gross', 'Releases']]

df_2023_trim

                            Holiday Cumulative Gross  Releases
0                    New Year's Eve      $25,883,170        39
1                 Christmas Weekend     $157,152,539        41
2        Thanksgiving 5-Day Weekend     $173,203,005        40
3                         Halloween      $10,315,133        35
4   Indigenous People's Day Weekend      $82,594,224        48
5                 Labor Day Weekend     $115,070,634        60
6          Independence Day Weekend     $196,321,885        28
7              Memorial Day Weekend     $203,750,914        61
8                    Easter Weekend     $231,916,311        39
9           President's Day Weekend     $166,970,765        57
10                  MLK Day Weekend     $124,779,112        43
11                   New Year's Day      $36,533,901        31

In [29]:
# Convert Table
df_2023_trim['Cumulative Gross'] = df_2023_trim['Cumulative Gross'].str.replace(',', '')
df_2023_trim['Cumulative Gross'] = df_2023_trim['Cumulative Gross'].str.replace('$', '')
df_2023_trim['Cumulative Gross'] = df_2023_trim['Cumulative Gross'].astype('int64', copy=True)

In [30]:
# Encode each holiday as a month
# holiday month list
month_name_list = []

# loop thru list
for i in range(len(df_2023_trim)):
    if df_2023_trim['Holiday'].iloc[i] in ["New Year's Eve", "Christmas Day", "Christmas Weekend"]:
        month_name_list.append('December')
    elif df_2023_trim['Holiday'].iloc[i] in ["Thanksgiving 5-Day Weekend"]:
        month_name_list.append('November')
    elif df_2023_trim['Holiday'].iloc[i] in ["Halloween", "Indigenous People's Day Weekend"]:
        month_name_list.append('October')
    elif df_2023_trim['Holiday'].iloc[i] in ["Labor Day Weekend"]:
        month_name_list.append('September')
    elif df_2023_trim['Holiday'].iloc[i] in ['Independence Day', 'Independence Day Weekend']:
        month_name_list.append('July')
    elif df_2023_trim['Holiday'].iloc[i] in ['Memorial Day Weekend']: 
        month_name_list.append('May')
    elif df_2023_trim['Holiday'].iloc[i] in ['Easter Weekend']: 
        month_name_list.append('April')
    elif df_2023_trim['Holiday'].iloc[i] in ["President's Day Weekend"]: 
        month_name_list.append('February')
    else:
        month_name_list.append('January')
        
display(len(month_name_list))

# Add lists to df as columns
df_2023_trim['Month'] = month_name_list
df_2023_trim['Year'] = [int(2023) for x in range(len(df_2023_trim))]

df_2023_trim = df_2023_trim[['Month', 'Year', 'Holiday', 'Cumulative Gross', 'Releases']]

df_2023_trim

12

,Month,Year,Holiday,Cumulative Gross,Releases
0,December,2023,New Year's Eve,25883170,39
1,December,2023,Christmas Weekend,157152539,41
2,November,2023,Thanksgiving 5-Day Weekend,173203005,40
3,October,2023,Halloween,10315133,35
4,October,2023,Indigenous People's Day Weekend,82594224,48
5,September,2023,Labor Day Weekend,115070634,60
6,July,2023,Independence Day Weekend,196321885,28
7,May,2023,Memorial Day Weekend,203750914,61
8,April,2023,Easter Weekend,231916311,39
9,February,2023,President's Day Weekend,166970765,57
10,January,2023,MLK Day Weekend,124779112,43
11,January,2023,New Year's Day,36533901,31

In [31]:
# Sum up the Gross Rev and # of Releases for each month
df_month_2023 = df_2023_trim[['Month', 'Cumulative Gross', 'Releases']].groupby(by='Month').sum()

# Add back the Year Column
df_month_2023['Year'] = [int(2023) for x in range(len(df_month_2023))]

# Reset the Index and Trim the Dataframe
df_month_2023 = df_month_2023.reset_index()
df_month_2023 = df_month_2023[['Month', 'Year', 'Cumulative Gross', 'Releases']]

# Rename columns
df_month_2023 = df_month_2023.rename(columns = {'Cumulative Gross': 'Holiday Gross', 'Releases': 'Holiday Releases'})

df_month_2023

       Month  Year  Holiday Gross  Holiday Releases
0      April  2023      231916311                39
1   December  2023      183035709                80
2   February  2023      166970765                57
3    January  2023      161313013                74
4       July  2023      196321885                28
5        May  2023      203750914                61
6   November  2023      173203005                40
7    October  2023       92909357                83
8  September  2023      115070634                60

### Combined Holiday Table 2019-2023

In [32]:
# Looking to make a combined table csv file named master_holiday_monthly_revenue.csv

In [33]:
display(df_month_2019.columns, df_month_2020.columns, df_month_2021.columns, df_month_2022.columns, df_month_2023.columns)
display(df_month_2019.head(1), df_month_2020.head(1), df_month_2021.head(1), df_month_2022.head(1), df_month_2023.head(1))

Index(['Month', 'Year', 'Holiday Gross', 'Holiday Releases'], dtype='object')

Index(['Month', 'Year', 'Holiday Gross', 'Holiday Releases'], dtype='object')

Index(['Month', 'Year', 'Holiday Gross', 'Holiday Releases'], dtype='object')

Index(['Month', 'Year', 'Holiday Gross', 'Holiday Releases'], dtype='object')

Index(['Month', 'Year', 'Holiday Gross', 'Holiday Releases'], dtype='object')

   Month  Year  Holiday Gross  Holiday Releases
0  April  2019      121560823                74

   Month  Year  Holiday Gross  Holiday Releases
0  April  2020           3675                 2

   Month  Year  Holiday Gross  Holiday Releases
0  April  2021       47518581                28

   Month  Year  Holiday Gross  Holiday Releases
0  April  2022      119498996                28

   Month  Year  Holiday Gross  Holiday Releases
0  April  2023      231916311                39

In [34]:
# Merge all the holiday tables
holiday_merged_df = pd.concat(
                              [df_month_2019, 
                               df_month_2020,
                               df_month_2021, 
                               df_month_2022, 
                               df_month_2023
                              ], 
                              axis=0
                             )

display(len(holiday_merged_df))
holiday_merged_df

45

       Month  Year  Holiday Gross  Holiday Releases
0      April  2019      121560823                74
1   December  2019      122595417               108
2   February  2019      152447001                86
3    January  2019      221945359               122
4       July  2019       46565065                54
5        May  2019      230819376                97
6   November  2019      262269314                58
7    October  2019      170589530               113
8  September  2019      120764144                82
0      April  2020           3675                 2
1   December  2020       13148251                44
2   February  2020      182920720                78
3    January  2020      261809863               115
4       July  2020          74261                 9
5        May  2020         240390                 6
6   November  2020       20251599                36
7    October  2020       15051023                67
8  September  2020       19858242                25
0      April  2021       47518581                28
1   December  2021       86446421                51
2   February  2021       13132939                32
3    January  2021       17576635                43
4       July  2021       87171208                46
5        May  2021       97874228                45
6   November  2021      142082464                42
7    October  2021      138825835                68
8  September  2021      139020923                48
0      April  2022      119498996                28
1   December  2022      171109933                64
2   February  2022      111455709                51
3    January  2022      125403205                63
4       July  2022      223580059                40
5        May  2022      223364859                47
6   November  2022      134030714                37
7    October  2022       74705791                79
8  September  2022       71172772                55
0      April  2023      231916311                39
1   December  2023      183035709                80
2   February  2023      166970765                57
3    January  2023      161313013                74
4       July  2023      196321885                28
5        May  2023      203750914                61
6   November  2023      173203005                40
7    October  2023       92909357                83
8  September  2023      115070634                60

In [35]:
# holiday_merged_df.to_csv('master_holiday_monthly_revenue.csv')

## Monthly Revenue Tables 2019-2023

In [36]:
import pandas as pd
import numpy as np
import requests
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')


# Set target URLS for cleaning

url_2019 = 'https://www.boxofficemojo.com/month/by-year/2019/?grossesOption=calendarGrosses'
url_2020 = 'https://www.boxofficemojo.com/month/by-year/2020/?grossesOption=calendarGrosses'
url_2021 = 'https://www.boxofficemojo.com/month/by-year/2021/?grossesOption=calendarGrosses'
url_2022 = 'https://www.boxofficemojo.com/month/by-year/2022/?grossesOption=calendarGrosses'
url_2023 = 'https://www.boxofficemojo.com/month/by-year/2023/?grossesOption=calendarGrosses'

In [37]:
# Grab 2019 table and put into Pandas

response = requests.get(url_2019)
table_19 = pd.read_html(response.text)
table_2019 = table_19[0]
table_2019

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$1,148,160,245",10.1%,167,"$6,875,211",Star Wars: Episode IX - The Rise of Skywalker,-,-,-,"$390,706,234",34%
1,November,"$959,213,976",8.4%,189,"$5,075,206",Frozen II,-,-,-,"$269,362,239",28.1%
2,October,"$781,644,661",6.9%,217,"$3,602,049",Joker,-,-,-,"$285,686,992",36.5%
3,September,"$686,794,246",6%,204,"$3,366,638",It Chapter Two,-,-,-,"$194,615,460",28.3%
4,August,"$837,630,353",7.4%,211,"$3,969,812",Fast & Furious Presents: Hobbs & Shaw,-,-,-,"$154,733,655",18.5%
5,July,"$1,288,196,026",11.3%,190,"$6,779,979",The Lion King,-,-,-,"$385,082,142",29.9%
6,June,"$1,149,048,054",10.1%,192,"$5,984,625",Toy Story 4,-,-,-,"$238,690,140",20.8%
7,May,"$1,077,667,188",9.5%,225,"$4,789,631",Avengers: Endgame,-,-,-,"$382,663,001",35.5%
8,April,"$1,034,983,338",9.1%,220,"$4,704,469",Avengers: Endgame,-,-,-,"$427,099,795",41.3%
9,March,"$962,715,490",8.5%,192,"$5,014,143",Captain Marvel,-,-,-,"$353,970,079",36.8%
10,February,"$624,462,229",5.5%,147,"$4,248,042",The Lego Movie 2: The Second Part,-,-,-,"$85,060,040",13.6%
11,January,"$812,849,718",7.2%,161,"$5,048,756",Aquaman,-,-,-,"$119,682,416",14.7%

In [38]:
# Add column for year

year = []

for x in table_2019["Month"]:
    if x != "":
        year.append("2019")
        
table_2019["Year"] = year
table_2019

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total,Year
0,December,"$1,148,160,245",10.1%,167,"$6,875,211",Star Wars: Episode IX - The Rise of Skywalker,-,-,-,"$390,706,234",34%,2019
1,November,"$959,213,976",8.4%,189,"$5,075,206",Frozen II,-,-,-,"$269,362,239",28.1%,2019
2,October,"$781,644,661",6.9%,217,"$3,602,049",Joker,-,-,-,"$285,686,992",36.5%,2019
3,September,"$686,794,246",6%,204,"$3,366,638",It Chapter Two,-,-,-,"$194,615,460",28.3%,2019
4,August,"$837,630,353",7.4%,211,"$3,969,812",Fast & Furious Presents: Hobbs & Shaw,-,-,-,"$154,733,655",18.5%,2019
5,July,"$1,288,196,026",11.3%,190,"$6,779,979",The Lion King,-,-,-,"$385,082,142",29.9%,2019
6,June,"$1,149,048,054",10.1%,192,"$5,984,625",Toy Story 4,-,-,-,"$238,690,140",20.8%,2019
7,May,"$1,077,667,188",9.5%,225,"$4,789,631",Avengers: Endgame,-,-,-,"$382,663,001",35.5%,2019
8,April,"$1,034,983,338",9.1%,220,"$4,704,469",Avengers: Endgame,-,-,-,"$427,099,795",41.3%,2019
9,March,"$962,715,490",8.5%,192,"$5,014,143",Captain Marvel,-,-,-,"$353,970,079",36.8%,2019
10,February,"$624,462,229",5.5%,147,"$4,248,042",The Lego Movie 2: The Second Part,-,-,-,"$85,060,040",13.6%,2019
11,January,"$812,849,718",7.2%,161,"$5,048,756",Aquaman,-,-,-,"$119,682,416",14.7%,2019

In [39]:
# Grab 2020 table and put into Pandas

response = requests.get(url_2020)
table_20 = pd.read_html(response.text)
table_2020 = table_20[0]
table_2020

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$67,691,870",3.2%,65,"$1,041,413",Wonder Woman 1984,-,-,-,"$23,009,311",34%
1,November,"$62,738,998",3%,86,"$729,523",The Croods: A New Age,-,-,-,"$14,714,780",23.5%
2,October,"$63,361,603",3%,84,"$754,304",Tenet,-,-,-,"$11,390,072",18%
3,September,"$86,031,381",4.1%,62,"$1,387,602",Tenet,-,-,-,"$38,760,870",45.1%
4,August,"$32,316,928",1.5%,50,"$646,338",Unhinged,-,-,-,"$9,025,406",27.9%
5,July,"$7,806,635",0.4%,45,"$173,480",Relic,-,-,-,"$996,603",12.8%
6,June,"$3,677,627",0.2%,22,"$167,164",Becky,-,-,-,"$878,305",23.9%
7,May,"$995,838",<0.1%,13,"$76,602",The Wretched,-,-,-,"$835,397",83.9%
8,April,"$52,015",<0.1%,6,"$8,669","Phoenix, OregonRe-release",-,-,-,"$16,846",32.4%
9,March,"$253,334,028",12%,144,"$1,759,264",Onward,-,-,-,"$61,555,145",24.3%
10,February,"$638,097,308",30.2%,158,"$4,038,590",Sonic the Hedgehog,-,-,-,"$123,468,116",19.3%
11,January,"$897,742,569",42.5%,146,"$6,148,921",Bad Boys for Life,-,-,-,"$135,561,888",15.1%

In [40]:
# Add column for year

year = []

for x in table_2020["Month"]:
    if x != "":
        year.append("2020")
        
table_2020["Year"] = year
table_2020

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total,Year
0,December,"$67,691,870",3.2%,65,"$1,041,413",Wonder Woman 1984,-,-,-,"$23,009,311",34%,2020
1,November,"$62,738,998",3%,86,"$729,523",The Croods: A New Age,-,-,-,"$14,714,780",23.5%,2020
2,October,"$63,361,603",3%,84,"$754,304",Tenet,-,-,-,"$11,390,072",18%,2020
3,September,"$86,031,381",4.1%,62,"$1,387,602",Tenet,-,-,-,"$38,760,870",45.1%,2020
4,August,"$32,316,928",1.5%,50,"$646,338",Unhinged,-,-,-,"$9,025,406",27.9%,2020
5,July,"$7,806,635",0.4%,45,"$173,480",Relic,-,-,-,"$996,603",12.8%,2020
6,June,"$3,677,627",0.2%,22,"$167,164",Becky,-,-,-,"$878,305",23.9%,2020
7,May,"$995,838",<0.1%,13,"$76,602",The Wretched,-,-,-,"$835,397",83.9%,2020
8,April,"$52,015",<0.1%,6,"$8,669","Phoenix, OregonRe-release",-,-,-,"$16,846",32.4%,2020
9,March,"$253,334,028",12%,144,"$1,759,264",Onward,-,-,-,"$61,555,145",24.3%,2020
10,February,"$638,097,308",30.2%,158,"$4,038,590",Sonic the Hedgehog,-,-,-,"$123,468,116",19.3%,2020
11,January,"$897,742,569",42.5%,146,"$6,148,921",Bad Boys for Life,-,-,-,"$135,561,888",15.1%,2020

In [41]:
# Grab 2021 table and put into Pandas

response = requests.get(url_2021)
table_21 = pd.read_html(response.text)
table_2021 = table_21[0]
table_2021

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$921,180,089",20.5%,101,"$9,120,594",Spider-Man: No Way Home,-,-,-,"$572,984,769",62.2%
1,November,"$523,343,646",11.7%,87,"$6,015,444",Eternals,-,-,-,"$151,731,669",29%
2,October,"$623,287,457",13.9%,93,"$6,702,015",Venom: Let There Be Carnage,-,-,-,"$190,442,114",30.6%
3,September,"$367,172,835",8.2%,93,"$3,948,095",Shang-Chi and the Legend of the Ten Rings,-,-,-,"$200,071,802",54.5%
4,August,"$417,701,047",9.3%,94,"$4,443,628",Free Guy,-,-,-,"$81,323,882",19.5%
5,July,"$582,543,500",13%,91,"$6,401,576",Black Widow,-,-,-,"$165,235,364",28.4%
6,June,"$401,276,723",9%,85,"$4,720,902",F9: The Fast Saga,-,-,-,"$88,163,505",22%
7,May,"$214,709,870",4.8%,83,"$2,586,865",A Quiet Place Part II,-,-,-,"$57,088,948",26.6%
8,April,"$195,097,683",4.4%,79,"$2,469,590",Godzilla vs. Kong,-,-,-,"$76,961,746",39.4%
9,March,"$113,597,962",2.5%,64,"$1,774,968",Raya and the Last Dragon,-,-,-,"$29,737,142",26.2%
10,February,"$57,759,509",1.3%,62,"$931,604",Tom & Jerry,-,-,-,"$14,112,629",24.4%
11,January,"$65,138,132",1.5%,55,"$1,184,329",Wonder Woman 1984,-,-,-,"$16,190,880",24.9%

In [42]:
# Add column for year

year = []

for x in table_2021["Month"]:
    if x != "":
        year.append("2021")
        
table_2021["Year"] = year
table_2021

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total,Year
0,December,"$921,180,089",20.5%,101,"$9,120,594",Spider-Man: No Way Home,-,-,-,"$572,984,769",62.2%,2021
1,November,"$523,343,646",11.7%,87,"$6,015,444",Eternals,-,-,-,"$151,731,669",29%,2021
2,October,"$623,287,457",13.9%,93,"$6,702,015",Venom: Let There Be Carnage,-,-,-,"$190,442,114",30.6%,2021
3,September,"$367,172,835",8.2%,93,"$3,948,095",Shang-Chi and the Legend of the Ten Rings,-,-,-,"$200,071,802",54.5%,2021
4,August,"$417,701,047",9.3%,94,"$4,443,628",Free Guy,-,-,-,"$81,323,882",19.5%,2021
5,July,"$582,543,500",13%,91,"$6,401,576",Black Widow,-,-,-,"$165,235,364",28.4%,2021
6,June,"$401,276,723",9%,85,"$4,720,902",F9: The Fast Saga,-,-,-,"$88,163,505",22%,2021
7,May,"$214,709,870",4.8%,83,"$2,586,865",A Quiet Place Part II,-,-,-,"$57,088,948",26.6%,2021
8,April,"$195,097,683",4.4%,79,"$2,469,590",Godzilla vs. Kong,-,-,-,"$76,961,746",39.4%,2021
9,March,"$113,597,962",2.5%,64,"$1,774,968",Raya and the Last Dragon,-,-,-,"$29,737,142",26.2%,2021
10,February,"$57,759,509",1.3%,62,"$931,604",Tom & Jerry,-,-,-,"$14,112,629",24.4%,2021
11,January,"$65,138,132",1.5%,55,"$1,184,329",Wonder Woman 1984,-,-,-,"$16,190,880",24.9%,2021

In [43]:
# Grab 2022 table and put into Pandas

response = requests.get(url_2022)
table_22 = pd.read_html(response.text)
table_2022 = table_22[0]
table_2022

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$677,889,565",9.2%,103,"$6,581,452",Avatar: The Way of Water,-,-,-,"$401,007,908",59.2%
1,November,"$627,967,014",8.5%,104,"$6,038,144",Black Panther: Wakanda Forever,-,-,-,"$374,279,837",59.6%
2,October,"$469,077,379",6.4%,124,"$3,782,882",Black Adam,-,-,-,"$112,888,394",24.1%
3,September,"$323,170,990",4.4%,134,"$2,411,723",The Woman King,-,-,-,"$41,487,506",12.8%
4,August,"$466,953,463",6.3%,93,"$5,021,004",Bullet Train,-,-,-,"$80,030,018",17.1%
5,July,"$1,133,519,549",15.4%,92,"$12,320,864",Minions: The Rise of Gru,-,-,-,"$320,494,170",28.3%
6,June,"$968,941,491",13.1%,96,"$10,093,140",Top Gun: Maverick,-,-,-,"$362,159,641",37.4%
7,May,"$785,932,315",10.7%,89,"$8,830,700",Doctor Strange in the Multiverse of Madness,-,-,-,"$376,528,475",47.9%
8,April,"$571,022,697",7.7%,96,"$5,948,153",Sonic the Hedgehog 2,-,-,-,"$157,528,706",27.6%
9,March,"$589,385,878",8%,96,"$6,139,436",The Batman,-,-,-,"$338,200,421",57.4%
10,February,"$365,862,371",5%,80,"$4,573,279",Uncharted,-,-,-,"$84,618,436",23.1%
11,January,"$389,782,780",5.3%,66,"$5,905,799",Spider-Man: No Way Home,-,-,-,"$163,815,488",42%

In [44]:
# Add column for year

year = []

for x in table_2022["Month"]:
    if x != "":
        year.append("2022")
        
table_2022["Year"] = year
table_2022

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total,Year
0,December,"$677,889,565",9.2%,103,"$6,581,452",Avatar: The Way of Water,-,-,-,"$401,007,908",59.2%,2022
1,November,"$627,967,014",8.5%,104,"$6,038,144",Black Panther: Wakanda Forever,-,-,-,"$374,279,837",59.6%,2022
2,October,"$469,077,379",6.4%,124,"$3,782,882",Black Adam,-,-,-,"$112,888,394",24.1%,2022
3,September,"$323,170,990",4.4%,134,"$2,411,723",The Woman King,-,-,-,"$41,487,506",12.8%,2022
4,August,"$466,953,463",6.3%,93,"$5,021,004",Bullet Train,-,-,-,"$80,030,018",17.1%,2022
5,July,"$1,133,519,549",15.4%,92,"$12,320,864",Minions: The Rise of Gru,-,-,-,"$320,494,170",28.3%,2022
6,June,"$968,941,491",13.1%,96,"$10,093,140",Top Gun: Maverick,-,-,-,"$362,159,641",37.4%,2022
7,May,"$785,932,315",10.7%,89,"$8,830,700",Doctor Strange in the Multiverse of Madness,-,-,-,"$376,528,475",47.9%,2022
8,April,"$571,022,697",7.7%,96,"$5,948,153",Sonic the Hedgehog 2,-,-,-,"$157,528,706",27.6%,2022
9,March,"$589,385,878",8%,96,"$6,139,436",The Batman,-,-,-,"$338,200,421",57.4%,2022
10,February,"$365,862,371",5%,80,"$4,573,279",Uncharted,-,-,-,"$84,618,436",23.1%,2022
11,January,"$389,782,780",5.3%,66,"$5,905,799",Spider-Man: No Way Home,-,-,-,"$163,815,488",42%,2022

In [45]:
# Grab 2023 table and put into Pandas

response = requests.get(url_2023)
table_23 = pd.read_html(response.text)
table_2023 = table_23[0]
table_2023

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$747,846,161",8.4%,134,"$5,580,941",Wonka,-,-,-,"$133,129,902",17.8%
1,November,"$551,964,146",6.2%,111,"$4,972,649",The Hunger Games: The Ballad of Songbirds & Sn...,-,-,-,"$106,743,408",19.3%
2,October,"$556,040,943",6.2%,115,"$4,835,138",Taylor Swift: The Eras Tour,-,-,-,"$150,890,845",27.1%
3,September,"$472,947,170",5.3%,116,"$4,077,130",The Equalizer 3,-,-,-,"$85,213,354",18%
4,August,"$812,833,316",9.1%,104,"$7,815,704",Barbie,-,-,-,"$232,462,212",28.6%
5,July,"$1,362,543,540",15.3%,92,"$14,810,255",Barbie,-,-,-,"$366,422,042",26.9%
6,June,"$1,003,737,346",11.3%,98,"$10,242,217",Spider-Man: Across the Spider-Verse,-,-,-,"$331,827,099",33.1%
7,May,"$774,058,701",8.7%,105,"$7,371,987",Guardians of the Galaxy Vol. 3,-,-,-,"$310,885,750",40.2%
8,April,"$900,856,943",10.1%,128,"$7,037,944",The Super Mario Bros. Movie,-,-,-,"$490,851,630",54.5%
9,March,"$638,179,407",7.2%,131,"$4,871,598",Creed III,-,-,-,"$145,057,951",22.7%
10,February,"$499,510,403",5.6%,111,"$4,500,093",Ant-Man and the Wasp: Quantumania,-,-,-,"$171,337,413",34.3%
11,January,"$584,765,684",6.6%,89,"$6,570,400",Avatar: The Way of Water,-,-,-,"$222,528,552",38.1%

In [46]:
# Add column for year

year = []

for x in table_2023["Month"]:
    if x != "":
        year.append("2023")
        
table_2023["Year"] = year
table_2023

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total,Year
0,December,"$747,846,161",8.4%,134,"$5,580,941",Wonka,-,-,-,"$133,129,902",17.8%,2023
1,November,"$551,964,146",6.2%,111,"$4,972,649",The Hunger Games: The Ballad of Songbirds & Sn...,-,-,-,"$106,743,408",19.3%,2023
2,October,"$556,040,943",6.2%,115,"$4,835,138",Taylor Swift: The Eras Tour,-,-,-,"$150,890,845",27.1%,2023
3,September,"$472,947,170",5.3%,116,"$4,077,130",The Equalizer 3,-,-,-,"$85,213,354",18%,2023
4,August,"$812,833,316",9.1%,104,"$7,815,704",Barbie,-,-,-,"$232,462,212",28.6%,2023
5,July,"$1,362,543,540",15.3%,92,"$14,810,255",Barbie,-,-,-,"$366,422,042",26.9%,2023
6,June,"$1,003,737,346",11.3%,98,"$10,242,217",Spider-Man: Across the Spider-Verse,-,-,-,"$331,827,099",33.1%,2023
7,May,"$774,058,701",8.7%,105,"$7,371,987",Guardians of the Galaxy Vol. 3,-,-,-,"$310,885,750",40.2%,2023
8,April,"$900,856,943",10.1%,128,"$7,037,944",The Super Mario Bros. Movie,-,-,-,"$490,851,630",54.5%,2023
9,March,"$638,179,407",7.2%,131,"$4,871,598",Creed III,-,-,-,"$145,057,951",22.7%,2023
10,February,"$499,510,403",5.6%,111,"$4,500,093",Ant-Man and the Wasp: Quantumania,-,-,-,"$171,337,413",34.3%,2023
11,January,"$584,765,684",6.6%,89,"$6,570,400",Avatar: The Way of Water,-,-,-,"$222,528,552",38.1%,2023

In [47]:
# Concat all cleaned frames to one master frame

frames = [table_2023, table_2022, table_2021, table_2020, table_2019]
result = pd.concat(frames)
result

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total,Year
0,December,"$747,846,161",8.4%,134,"$5,580,941",Wonka,-,-,-,"$133,129,902",17.8%,2023
1,November,"$551,964,146",6.2%,111,"$4,972,649",The Hunger Games: The Ballad of Songbirds & Sn...,-,-,-,"$106,743,408",19.3%,2023
2,October,"$556,040,943",6.2%,115,"$4,835,138",Taylor Swift: The Eras Tour,-,-,-,"$150,890,845",27.1%,2023
3,September,"$472,947,170",5.3%,116,"$4,077,130",The Equalizer 3,-,-,-,"$85,213,354",18%,2023
4,August,"$812,833,316",9.1%,104,"$7,815,704",Barbie,-,-,-,"$232,462,212",28.6%,2023
5,July,"$1,362,543,540",15.3%,92,"$14,810,255",Barbie,-,-,-,"$366,422,042",26.9%,2023
6,June,"$1,003,737,346",11.3%,98,"$10,242,217",Spider-Man: Across the Spider-Verse,-,-,-,"$331,827,099",33.1%,2023
7,May,"$774,058,701",8.7%,105,"$7,371,987",Guardians of the Galaxy Vol. 3,-,-,-,"$310,885,750",40.2%,2023
8,April,"$900,856,943",10.1%,128,"$7,037,944",The Super Mario Bros. Movie,-,-,-,"$490,851,630",54.5%,2023
9,March,"$638,179,407",7.2%,131,"$4,871,598",Creed III,-,-,-,"$145,057,951",22.7%,2023
10,February,"$499,510,403",5.6%,111,"$4,500,093",Ant-Man and the Wasp: Quantumania,-,-,-,"$171,337,413",34.3%,2023
11,January,"$584,765,684",6.6%,89,"$6,570,400",Avatar: The Way of Water,-,-,-,"$222,528,552",38.1%,2023
0,December,"$677,889,565",9.2%,103,"$6,581,452",Avatar: The Way of Water,-,-,-,"$401,007,908",59.2%,2022
1,November,"$627,967,014",8.5%,104,"$6,038,144",Black Panther: Wakanda Forever,-,-,-,"$374,279,837",59.6%,2022
2,October,"$469,077,379",6.4%,124,"$3,782,882",Black Adam,-,-,-,"$112,888,394",24.1%,2022
3,September,"$323,170,990",4.4%,134,"$2,411,723",The Woman King,-,-,-,"$41,487,506",12.8%,2022
4,August,"$466,953,463",6.3%,93,"$5,021,004",Bullet Train,-,-,-,"$80,030,018",17.1%,2022
5,July,"$1,133,519,549",15.4%,92,"$12,320,864",Minions: The Rise of Gru,-,-,-,"$320,494,170",28.3%,2022
6,June,"$968,941,491",13.1%,96,"$10,093,140",Top Gun: Maverick,-,-,-,"$362,159,641",37.4%,2022
7,May,"$785,932,315",10.7%,89,"$8,830,700",Doctor Strange in the Multiverse of Madness,-,-,-,"$376,528,475",47.9%,2022
8,April,"$571,022,697",7.7%,96,"$5,948,153",Sonic the Hedgehog 2,-,-,-,"$157,528,706",27.6%,2022
9,March,"$589,385,878",8%,96,"$6,139,436",The Batman,-,-,-,"$338,200,421",57.4%,2022
10,February,"$365,862,371",5%,80,"$4,573,279",Uncharted,-,-,-,"$84,618,436",23.1%,2022
11,January,"$389,782,780",5.3%,66,"$5,905,799",Spider-Man: No Way Home,-,-,-,"$163,815,488",42%,2022
0,December,"$921,180,089",20.5%,101,"$9,120,594",Spider-Man: No Way Home,-,-,-,"$572,984,769",62.2%,2021
1,November,"$523,343,646",11.7%,87,"$6,015,444",Eternals,-,-,-,"$151,731,669",29%,2021
2,October,"$623,287,457",13.9%,93,"$6,702,015",Venom: Let There Be Carnage,-,-,-,"$190,442,114",30.6%,2021
3,September,"$367,172,835",8.2%,93,"$3,948,095",Shang-Chi and the Legend of the Ten Rings,-,-,-,"$200,071,802",54.5%,2021
4,August,"$417,701,047",9.3%,94,"$4,443,628",Free Guy,-,-,-,"$81,323,882",19.5%,2021
5,July,"$582,543,500",13%,91,"$6,401,576",Black Widow,-,-,-,"$165,235,364",28.4%,2021
6,June,"$401,276,723",9%,85,"$4,720,902",F9: The Fast Saga,-,-,-,"$88,163,505",22%,2021
7,May,"$214,709,870",4.8%,83,"$2,586,865",A Quiet Place Part II,-,-,-,"$57,088,948",26.6%,2021
8,April,"$195,097,683",4.4%,79,"$2,469,590",Godzilla vs. Kong,-,-,-,"$76,961,746",39.4%,2021
9,March,"$113,597,962",2.5%,64,"$1,774,968",Raya and the Last Dragon,-,-,-,"$29,737,142",26.2%,2021
10,February,"$57,759,509",1.3%,62,"$931,604",Tom & Jerry,-,-,-,"$14,112,629",24.4%,2021
11,January,"$65,138,132",1.5%,55,"$1,184,329",Wonder Woman 1984,-,-,-,"$16,190,880",24.9%,2021
0,December,"$67,691,870",3.2%,65,"$1,041,413",Wonder Woman 1984,-,-,-,"$23,009,311",34%,2020
1,November,"$62,738,998",3%,86,"$729,523",The Croods: A New Age,-,-,-,"$14,714,780",23.5%,2020
2,October,"$63,361,603",3%,84,"$754,304",Tenet,-,-,-,"$11,390,072",18%,2020
3,September,"$86,031,381",4.1%,62,"$1,387,602",Tenet,-,-,-,"$38,760,870",45.1%,2020
4,August,"$32,316,928",1.5%,50,"$646,338",Unhinged,-,-,-,"$9,025,406",27.9%,2020
5,July,"$7,806,635",0.4%,45,"$173,480",Relic,-,-,-,"$996,603",12.8%,2020
6,June,"$3,677,627",0.2%,22,"$167,164",Becky,-,-,-,"$878,305",23.9%,2020
7,May,"$995,838",<0.1%,13,"$76,602",The Wretched,-,-,-,"$835,397",83.9%,2020
8,April,"$52,015",<0.1%,6,"$8,669","Phoenix, OregonRe-release",-,-,-,"$16,846",32.4%,2020
9,March,"$253,334,028",12%,144,"$1,759,264",Onward,-,-,-,"$61,555,145",24.3%,2020
10,February,"$638,097,308",30.2%,158,"$4,038,590",Sonic the Hedgehog,-,-,-,"$123,468,116",19.3%,2020
11,January,"$897,742,569",42.5%,146,"$6,148,921",Bad Boys for Life,-,-,-,"$135,561,888",15.1%,2020
0,December,"$1,148,160,245",10.1%,167,"$6,875,211",Star Wars: Episode IX - The Rise of Skywalker,-,-,-,"$390,706,234",34%,2019
1,November,"$959,213,976",8.4%,189,"$5,075,206",Frozen II,-,-,-,"$269,362,239",28.1%,2019
2,October,"$781,644,661",6.9%,217,"$3,602,049",Joker,-,-,-,"$285,686,992",36.5%,2019
3,September,"$686,794,246",6%,204,"$3,366,638",It Chapter Two,-,-,-,"$194,615,460",28.3%,2019
4,August,"$837,630,353",7.4%,211,"$3,969,812",Fast & Furious Presents: Hobbs & Shaw,-,-,-,"$154,733,655",18.5%,2019
5,July,"$1,288,196,026",11.3%,190,"$6,779,979",The Lion King,-,-,-,"$385,082,142",29.9%,2019
6,June,"$1,149,048,054",10.1%,192,"$5,984,625",Toy Story 4,-,-,-,"$238,690,140",20.8%,2019
7,May,"$1,077,667,188",9.5%,225,"$4,789,631",Avengers: Endgame,-,-,-,"$382,663,001",35.5%,2019
8,April,"$1,034,983,338",9.1%,220,"$4,704,469",Avengers: Endgame,-,-,-,"$427,099,795",41.3%,2019
9,March,"$962,715,490",8.5%,192,"$5,014,143",Captain Marvel,-,-,-,"$353,970,079",36.8%,2019
10,February,"$624,462,229",5.5%,147,"$4,248,042",The Lego Movie 2: The Second Part,-,-,-,"$85,060,040",13.6%,2019
11,January,"$812,849,718",7.2%,161,"$5,048,756",Aquaman,-,-,-,"$119,682,416",14.7%,2019

In [48]:
# Drop empty columns

cleaned_result = result[["Month", "Year", "Cumulative Gross", "% of Year", 'Releases','Average']]
cleaned_result

        Month  Year Cumulative Gross % of Year  Releases      Average
0    December  2023     $747,846,161      8.4%       134   $5,580,941
1    November  2023     $551,964,146      6.2%       111   $4,972,649
2     October  2023     $556,040,943      6.2%       115   $4,835,138
3   September  2023     $472,947,170      5.3%       116   $4,077,130
4      August  2023     $812,833,316      9.1%       104   $7,815,704
5        July  2023   $1,362,543,540     15.3%        92  $14,810,255
6        June  2023   $1,003,737,346     11.3%        98  $10,242,217
7         May  2023     $774,058,701      8.7%       105   $7,371,987
8       April  2023     $900,856,943     10.1%       128   $7,037,944
9       March  2023     $638,179,407      7.2%       131   $4,871,598
10   February  2023     $499,510,403      5.6%       111   $4,500,093
11    January  2023     $584,765,684      6.6%        89   $6,570,400
0    December  2022     $677,889,565      9.2%       103   $6,581,452
1    November  2022     $627,967,014      8.5%       104   $6,038,144
2     October  2022     $469,077,379      6.4%       124   $3,782,882
3   September  2022     $323,170,990      4.4%       134   $2,411,723
4      August  2022     $466,953,463      6.3%        93   $5,021,004
5        July  2022   $1,133,519,549     15.4%        92  $12,320,864
6        June  2022     $968,941,491     13.1%        96  $10,093,140
7         May  2022     $785,932,315     10.7%        89   $8,830,700
8       April  2022     $571,022,697      7.7%        96   $5,948,153
9       March  2022     $589,385,878        8%        96   $6,139,436
10   February  2022     $365,862,371        5%        80   $4,573,279
11    January  2022     $389,782,780      5.3%        66   $5,905,799
0    December  2021     $921,180,089     20.5%       101   $9,120,594
1    November  2021     $523,343,646     11.7%        87   $6,015,444
2     October  2021     $623,287,457     13.9%        93   $6,702,015
3   September  2021     $367,172,835      8.2%        93   $3,948,095
4      August  2021     $417,701,047      9.3%        94   $4,443,628
5        July  2021     $582,543,500       13%        91   $6,401,576
6        June  2021     $401,276,723        9%        85   $4,720,902
7         May  2021     $214,709,870      4.8%        83   $2,586,865
8       April  2021     $195,097,683      4.4%        79   $2,469,590
9       March  2021     $113,597,962      2.5%        64   $1,774,968
10   February  2021      $57,759,509      1.3%        62     $931,604
11    January  2021      $65,138,132      1.5%        55   $1,184,329
0    December  2020      $67,691,870      3.2%        65   $1,041,413
1    November  2020      $62,738,998        3%        86     $729,523
2     October  2020      $63,361,603        3%        84     $754,304
3   September  2020      $86,031,381      4.1%        62   $1,387,602
4      August  2020      $32,316,928      1.5%        50     $646,338
5        July  2020       $7,806,635      0.4%        45     $173,480
6        June  2020       $3,677,627      0.2%        22     $167,164
7         May  2020         $995,838     <0.1%        13      $76,602
8       April  2020          $52,015     <0.1%         6       $8,669
9       March  2020     $253,334,028       12%       144   $1,759,264
10   February  2020     $638,097,308     30.2%       158   $4,038,590
11    January  2020     $897,742,569     42.5%       146   $6,148,921
0    December  2019   $1,148,160,245     10.1%       167   $6,875,211
1    November  2019     $959,213,976      8.4%       189   $5,075,206
2     October  2019     $781,644,661      6.9%       217   $3,602,049
3   September  2019     $686,794,246        6%       204   $3,366,638
4      August  2019     $837,630,353      7.4%       211   $3,969,812
5        July  2019   $1,288,196,026     11.3%       190   $6,779,979
6        June  2019   $1,149,048,054     10.1%       192   $5,984,625
7         May  2019   $1,077,667,188      9.5%       225   $4,789,631
8       April  2019   $1,034,983,338      9.1%       220   $4,704,469
9       March  2019     $962,715,490      8.5%       192   $5,014,143
10   February  2019     $624,462,229      5.5%       147   $4,248,042
11    January  2019     $812,849,718      7.2%       161   $5,048,756

In [49]:
# Check dtypes to make sure they'll be able to be used for graphing later

cleaned_result.dtypes

Month               object
Year                object
Cumulative Gross    object
% of Year           object
Releases             int64
Average             object
dtype: object

In [50]:
# Convert to float for graphing later

cleaned_result["Cumulative Gross"] = cleaned_result["Cumulative Gross"].str.replace(',', '')
cleaned_result["Cumulative Gross"] = cleaned_result["Cumulative Gross"].str.replace('$', '')
cleaned_result["Cumulative Gross"] = cleaned_result["Cumulative Gross"].astype(int)

cleaned_result["Average"] = cleaned_result["Average"].str.replace(',', '')
cleaned_result["Average"] = cleaned_result["Average"].str.replace('$', '')
cleaned_result["Average"] = cleaned_result["Average"].astype(int)

In [51]:
cleaned_result.dtypes

Month               object
Year                object
Cumulative Gross     int32
% of Year           object
Releases             int64
Average              int32
dtype: object

In [52]:
# from pathlib import Path

# filepath = Path('Resources/master_monthly_revenue.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
# cleaned_result.to_csv(filepath, index=False)

## Combined Monthly and Holiday Revenue Tables

In [53]:
master_monthly_rev = cleaned_result

In [54]:
# Convert Holiday Table to match the Monthly Revenue table
holiday_merged_df["Year"] = holiday_merged_df["Year"].astype(str)

holiday_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 0 to 8
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             45 non-null     object
 1   Year              45 non-null     object
 2   Holiday Gross     45 non-null     int64
 3   Holiday Releases  45 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.8+ KB

In [55]:
# Join Tables using the year and month columns
master_merged_df = pd.merge(master_monthly_rev, holiday_merged_df,  how='left', left_on=['Month','Year'], right_on = ['Month','Year'])

master_merged_df = master_merged_df.fillna(0)
master_merged_df['Net_Gross'] = master_merged_df["Cumulative Gross"] - master_merged_df["Holiday Gross"]
master_merged_df['Net_Releases'] = master_merged_df["Releases"] - master_merged_df["Holiday Releases"]

master_merged_df

,Month,Year,Cumulative Gross,% of Year,Releases,Average,Holiday Gross,Holiday Releases,Net_Gross,Net_Releases
0,December,2023,747846161,8.4%,134,5580941,183035709.0,80.0,5.648105e+08,54.0
1,November,2023,551964146,6.2%,111,4972649,173203005.0,40.0,3.787611e+08,71.0
2,October,2023,556040943,6.2%,115,4835138,92909357.0,83.0,4.631316e+08,32.0
3,September,2023,472947170,5.3%,116,4077130,115070634.0,60.0,3.578765e+08,56.0
4,August,2023,812833316,9.1%,104,7815704,0.0,0.0,8.128333e+08,104.0
5,July,2023,1362543540,15.3%,92,14810255,196321885.0,28.0,1.166222e+09,64.0
6,June,2023,1003737346,11.3%,98,10242217,0.0,0.0,1.003737e+09,98.0
7,May,2023,774058701,8.7%,105,7371987,203750914.0,61.0,5.703078e+08,44.0
8,April,2023,900856943,10.1%,128,7037944,231916311.0,39.0,6.689406e+08,89.0
9,March,2023,638179407,7.2%,131,4871598,0.0,0.0,6.381794e+08,131.0
10,February,2023,499510403,5.6%,111,4500093,166970765.0,57.0,3.325396e+08,54.0
11,January,2023,584765684,6.6%,89,6570400,161313013.0,74.0,4.234527e+08,15.0
12,December,2022,677889565,9.2%,103,6581452,171109933.0,64.0,5.067796e+08,39.0
13,November,2022,627967014,8.5%,104,6038144,134030714.0,37.0,4.939363e+08,67.0
14,October,2022,469077379,6.4%,124,3782882,74705791.0,79.0,3.943716e+08,45.0
15,September,2022,323170990,4.4%,134,2411723,71172772.0,55.0,2.519982e+08,79.0
16,August,2022,466953463,6.3%,93,5021004,0.0,0.0,4.669535e+08,93.0
17,July,2022,1133519549,15.4%,92,12320864,223580059.0,40.0,9.099395e+08,52.0
18,June,2022,968941491,13.1%,96,10093140,0.0,0.0,9.689415e+08,96.0
19,May,2022,785932315,10.7%,89,8830700,223364859.0,47.0,5.625675e+08,42.0
20,April,2022,571022697,7.7%,96,5948153,119498996.0,28.0,4.515237e+08,68.0
21,March,2022,589385878,8%,96,6139436,0.0,0.0,5.893859e+08,96.0
22,February,2022,365862371,5%,80,4573279,111455709.0,51.0,2.544067e+08,29.0
23,January,2022,389782780,5.3%,66,5905799,125403205.0,63.0,2.643796e+08,3.0
24,December,2021,921180089,20.5%,101,9120594,86446421.0,51.0,8.347337e+08,50.0
25,November,2021,523343646,11.7%,87,6015444,142082464.0,42.0,3.812612e+08,45.0
26,October,2021,623287457,13.9%,93,6702015,138825835.0,68.0,4.844616e+08,25.0
27,September,2021,367172835,8.2%,93,3948095,139020923.0,48.0,2.281519e+08,45.0
28,August,2021,417701047,9.3%,94,4443628,0.0,0.0,4.177010e+08,94.0
29,July,2021,582543500,13%,91,6401576,87171208.0,46.0,4.953723e+08,45.0
30,June,2021,401276723,9%,85,4720902,0.0,0.0,4.012767e+08,85.0
31,May,2021,214709870,4.8%,83,2586865,97874228.0,45.0,1.168356e+08,38.0
32,April,2021,195097683,4.4%,79,2469590,47518581.0,28.0,1.475791e+08,51.0
33,March,2021,113597962,2.5%,64,1774968,0.0,0.0,1.135980e+08,64.0
34,February,2021,57759509,1.3%,62,931604,13132939.0,32.0,4.462657e+07,30.0
35,January,2021,65138132,1.5%,55,1184329,17576635.0,43.0,4.756150e+07,12.0
36,December,2020,67691870,3.2%,65,1041413,13148251.0,44.0,5.454362e+07,21.0
37,November,2020,62738998,3%,86,729523,20251599.0,36.0,4.248740e+07,50.0
38,October,2020,63361603,3%,84,754304,15051023.0,67.0,4.831058e+07,17.0
39,September,2020,86031381,4.1%,62,1387602,19858242.0,25.0,6.617314e+07,37.0
40,August,2020,32316928,1.5%,50,646338,0.0,0.0,3.231693e+07,50.0
41,July,2020,7806635,0.4%,45,173480,74261.0,9.0,7.732374e+06,36.0
42,June,2020,3677627,0.2%,22,167164,0.0,0.0,3.677627e+06,22.0
43,May,2020,995838,<0.1%,13,76602,240390.0,6.0,7.554480e+05,7.0
44,April,2020,52015,<0.1%,6,8669,3675.0,2.0,4.834000e+04,4.0
45,March,2020,253334028,12%,144,1759264,0.0,0.0,2.533340e+08,144.0
46,February,2020,638097308,30.2%,158,4038590,182920720.0,78.0,4.551766e+08,80.0
47,January,2020,897742569,42.5%,146,6148921,261809863.0,115.0,6.359327e+08,31.0
48,December,2019,1148160245,10.1%,167,6875211,122595417.0,108.0,1.025565e+09,59.0
49,November,2019,959213976,8.4%,189,5075206,262269314.0,58.0,6.969447e+08,131.0
50,October,2019,781644661,6.9%,217,3602049,170589530.0,113.0,6.110551e+08,104.0
51,September,2019,686794246,6%,204,3366638,120764144.0,82.0,5.660301e+08,122.0
52,August,2019,837630353,7.4%,211,3969812,0.0,0.0,8.376304e+08,211.0
53,July,2019,1288196026,11.3%,190,6779979,46565065.0,54.0,1.241631e+09,136.0
54,June,2019,1149048054,10.1%,192,5984625,0.0,0.0,1.149048e+09,192.0
55,May,2019,1077667188,9.5%,225,4789631,230819376.0,97.0,8.468478e+08,128.0
56,April,2019,1034983338,9.1%,220,4704469,121560823.0,74.0,9.134225e+08,146.0
57,March,2019,962715490,8.5%,192,5014143,0.0,0.0,9.627155e+08,192.0
58,February,2019,624462229,5.5%,147,4248042,152447001.0,86.0,4.720152e+08,61.0
59,January,2019,812849718,7.2%,161,5048756,221945359.0,122.0,5.909044e+08,39.0

In [56]:
master_merged_df.columns

Index(['Month', 'Year', 'Cumulative Gross', '% of Year', 'Releases', 'Average',
       'Holiday Gross', 'Holiday Releases', 'Net_Gross', 'Net_Releases'],
      dtype='object')

In [57]:
master_merged_df_renamed = master_merged_df.rename(columns={"Cumulative Gross": "cumulativeGross", "% of Year": "percentOfyear", "Holiday Gross": "holidayGross", "Holiday Releases": "holidayReleases", "Net_Gross": "netGross", "Net_Releases": "netReleases"})
master_merged_df_renamed.columns

Index(['Month', 'Year', 'cumulativeGross', 'percentOfyear', 'Releases',
       'Average', 'holidayGross', 'holidayReleases', 'netGross',
       'netReleases'],
      dtype='object')

In [84]:
master_merged_df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Month            60 non-null     object
 1   Year             60 non-null     object
 2   cumulativeGross  60 non-null     int32
 3   percentOfyear    60 non-null     object
 4   Releases         60 non-null     int64
 5   Average          60 non-null     int32
 6   holidayGross     60 non-null     float64
 7   holidayReleases  60 non-null     float64
 8   netGross         60 non-null     float64
 9   netReleases      60 non-null     float64
dtypes: float64(4), int32(2), int64(1), object(3)
memory usage: 4.3+ KB

In [58]:
# cleaned_result.to_csv(filepath, index=False)
master_merged_df_renamed.to_csv('master_merged_df_renamed.csv', index=False)

## Top Movies of 2023 vs All Time

In [59]:
import pandas as pd
import requests

In [60]:
url = 'https://www.boxofficemojo.com/year/2023/?ref_=bo_yl_table_1'
response = requests.get(url)

In [61]:
twenty_three = pd.read_html(response.text)

twenty_three_df = twenty_three[0]

twenty_three_df.head(20)

,Rank,Release,Genre,Budget,Running Time,Gross,Theaters,Total Gross,Release Date,Distributor,Estimated
0,1,Barbie,-,-,-,"$636,225,983",4337,"$636,228,022",Jul 21,Warner Bros.,False
1,2,The Super Mario Bros. Movie,-,-,-,"$574,934,330",4371,"$574,934,330",Apr 5,Universal Pictures,False
2,3,Spider-Man: Across the Spider-Verse,-,-,-,"$381,311,319",4332,"$381,311,319",Jun 2,Columbia Pictures,False
3,4,Guardians of the Galaxy Vol. 3,-,-,-,"$358,995,815",4450,"$358,995,815",May 5,Walt Disney Studios Motion Pictures,False
4,5,Oppenheimer,-,-,-,"$326,101,370",3761,"$326,108,355",Jul 21,Universal Pictures,False
5,6,The Little Mermaid,-,-,-,"$298,172,056",4320,"$298,172,056",May 26,Walt Disney Studios Motion Pictures,False
6,7,Avatar: The Way of Water,-,-,-,"$283,067,859",4340,"$684,075,767",Dec 16,20th Century Studios,False
7,8,Ant-Man and the Wasp: Quantumania,-,-,-,"$214,504,909",4345,"$214,504,909",Feb 17,Walt Disney Studios Motion Pictures,False
8,9,John Wick: Chapter 4,-,-,-,"$187,131,806",3855,"$187,131,806",Mar 24,Lions Gate Films,False
9,10,Sound of Freedom,-,-,-,"$184,177,725",3411,"$184,178,046",Jul 4,Angel Studios,False
10,11,Taylor Swift: The Eras Tour,-,-,-,"$179,765,733",3855,"$179,877,605",Oct 13,-,False
11,12,Indiana Jones and the Dial of Destiny,-,-,-,"$174,480,468",4600,"$174,480,468",Jun 30,Walt Disney Studios Motion Pictures,False
12,13,Mission: Impossible - Dead Reckoning Part One,-,-,-,"$172,135,383",4327,"$172,135,383",Jul 12,Paramount Pictures,False
13,14,The Hunger Games: The Ballad of Songbirds & Sn...,-,-,-,"$159,719,625",3776,"$163,836,572",Nov 17,Lions Gate Films,False
14,15,Transformers: Rise of the Beasts,-,-,-,"$157,066,392",3680,"$157,066,392",Jun 9,Paramount Pictures,False
15,16,Creed III,-,-,-,"$156,248,615",4007,"$156,248,615",Mar 3,United Artists Releasing,False
16,17,Elemental,-,-,-,"$154,426,697",4035,"$154,426,697",Jun 16,Walt Disney Studios Motion Pictures,False
17,18,Fast X,-,-,-,"$146,126,015",4088,"$146,126,015",May 19,Universal Pictures,False
18,19,Five Nights at Freddy's,-,-,-,"$137,275,620",3789,"$137,275,620",Oct 27,Universal Pictures International (UPI),False
19,20,Wonka,-,-,-,"$133,129,902",4213,"$164,654,302",Dec 15,Warner Bros.,False

In [62]:
drop_columns = ['Genre', 'Budget', 'Running Time', 'Total Gross', 'Estimated']
twenty_three_df = twenty_three_df.drop(columns=drop_columns)

twenty_three_df = twenty_three_df.rename(columns={'Gross': 'Gross Earnings', 'Release': 'Title', 'Theaters': 'Number of Theaters'})
twenty_three_df['Gross Earnings'] = twenty_three_df['Gross Earnings'].replace('[\$,]', '', regex=True).astype(int)

twenty_three_df['Number of Theaters'] = pd.to_numeric(twenty_three_df['Number of Theaters'], errors='coerce')
# Fills NaN values in 'Number of Theaters' with 0
twenty_three_df['Number of Theaters'].fillna(0, inplace=True)
twenty_three_df['Number of Theaters'] = twenty_three_df['Number of Theaters'].astype(int)

In [63]:
twenty_three_df = twenty_three_df.set_index('Rank')

In [64]:
twenty_three_df.head(20)

,Title,Gross Earnings,Number of Theaters,Release Date,Distributor
Rank,,,,,
1,Barbie,636225983,4337,Jul 21,Warner Bros.
2,The Super Mario Bros. Movie,574934330,4371,Apr 5,Universal Pictures
3,Spider-Man: Across the Spider-Verse,381311319,4332,Jun 2,Columbia Pictures
4,Guardians of the Galaxy Vol. 3,358995815,4450,May 5,Walt Disney Studios Motion Pictures
5,Oppenheimer,326101370,3761,Jul 21,Universal Pictures
6,The Little Mermaid,298172056,4320,May 26,Walt Disney Studios Motion Pictures
7,Avatar: The Way of Water,283067859,4340,Dec 16,20th Century Studios
8,Ant-Man and the Wasp: Quantumania,214504909,4345,Feb 17,Walt Disney Studios Motion Pictures
9,John Wick: Chapter 4,187131806,3855,Mar 24,Lions Gate Films
10,Sound of Freedom,184177725,3411,Jul 4,Angel Studios
11,Taylor Swift: The Eras Tour,179765733,3855,Oct 13,-
12,Indiana Jones and the Dial of Destiny,174480468,4600,Jun 30,Walt Disney Studios Motion Pictures
13,Mission: Impossible - Dead Reckoning Part One,172135383,4327,Jul 12,Paramount Pictures
14,The Hunger Games: The Ballad of Songbirds & Sn...,159719625,3776,Nov 17,Lions Gate Films
15,Transformers: Rise of the Beasts,157066392,3680,Jun 9,Paramount Pictures
16,Creed III,156248615,4007,Mar 3,United Artists Releasing
17,Elemental,154426697,4035,Jun 16,Walt Disney Studios Motion Pictures
18,Fast X,146126015,4088,May 19,Universal Pictures
19,Five Nights at Freddy's,137275620,3789,Oct 27,Universal Pictures International (UPI)
20,Wonka,133129902,4213,Dec 15,Warner Bros.

In [65]:
twenty_three_df.to_csv('top_movies_2023.csv')

## Top Movies of All Time

In [66]:
url2 = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?ref_=bo_cso_ac'
response = requests.get(url2)

In [67]:
all_time = pd.read_html(response.text)

all_time_df = all_time[0]

all_time_df.head(20)

    Rank                                          Title Lifetime Gross  Year
0      1     Star Wars: Episode VII - The Force Awakens   $936,662,225  2015
1      2                              Avengers: Endgame   $858,373,000  2019
2      3                        Spider-Man: No Way Home   $814,115,070  2021
3      4                                         Avatar   $785,221,649  2009
4      5                              Top Gun: Maverick   $718,732,821  2022
5      6                                  Black Panther   $700,426,566  2018
6      7                       Avatar: The Way of Water   $684,075,767  2022
7      8                         Avengers: Infinity War   $678,815,482  2018
8      9                                        Titanic   $674,292,608  1997
9     10                                 Jurassic World   $653,406,625  2015
10    11                                         Barbie   $636,228,022  2023
11    12                                   The Avengers   $623,357,910  2012
12    13        Star Wars: Episode VIII - The Last Jedi   $620,181,382  2017
13    14                                  Incredibles 2   $608,581,744  2018
14    15                    The Super Mario Bros. Movie   $574,934,330  2023
15    16                                  The Lion King   $543,638,043  2019
16    17                                The Dark Knight   $534,987,076  2008
17    18                   Rogue One: A Star Wars Story   $533,539,991  2016
18    19  Star Wars: Episode IX - The Rise of Skywalker   $515,202,542  2019
19    20                           Beauty and the Beast   $504,481,165  2017

In [68]:
all_time_df = all_time_df.set_index('Rank')
all_time_df['Title'] = all_time_df['Title'].astype(str)
all_time_df['Lifetime Gross'] = all_time_df['Lifetime Gross'].replace('[\$,]', '', regex=True).astype(int)

In [69]:
all_time_df.head(20)

                                              Title  Lifetime Gross  Year
Rank
1        Star Wars: Episode VII - The Force Awakens       936662225  2015
2                                 Avengers: Endgame       858373000  2019
3                           Spider-Man: No Way Home       814115070  2021
4                                            Avatar       785221649  2009
5                                 Top Gun: Maverick       718732821  2022
6                                     Black Panther       700426566  2018
7                          Avatar: The Way of Water       684075767  2022
8                            Avengers: Infinity War       678815482  2018
9                                           Titanic       674292608  1997
10                                   Jurassic World       653406625  2015
11                                           Barbie       636228022  2023
12                                     The Avengers       623357910  2012
13          Star Wars: Episode VIII - The Last Jedi       620181382  2017
14                                    Incredibles 2       608581744  2018
15                      The Super Mario Bros. Movie       574934330  2023
16                                    The Lion King       543638043  2019
17                                  The Dark Knight       534987076  2008
18                     Rogue One: A Star Wars Story       533539991  2016
19    Star Wars: Episode IX - The Rise of Skywalker       515202542  2019
20                             Beauty and the Beast       504481165  2017

In [70]:
all_time_df.to_csv('goat_movies.csv')

## 2023 Worldwide Box Office

In [71]:
# Import dependencies
import pandas as pd
import requests
import numpy as np

In [72]:
# Link
url = 'https://www.boxofficemojo.com/year/world/2023/'

# Retrieve html for links
response = requests.get(url)

# Read responses into the table
worldwide_2023 = pd.read_html(response.text)

# Select and display the table
worldwide_2023_df = worldwide_2023[0]

display(worldwide_2023_df.head())

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Barbie,"$1,441,828,022","$636,228,022",44.1%,"$805,600,000",55.9%
1,2,The Super Mario Bros. Movie,"$1,361,939,570","$574,934,330",42.2%,"$787,005,240",57.8%
2,3,Oppenheimer,"$952,042,355","$326,108,355",34.3%,"$625,934,000",65.7%
3,4,Guardians of the Galaxy Vol. 3,"$845,555,777","$358,995,815",42.5%,"$486,559,962",57.5%
4,5,Fast X,"$704,875,015","$146,126,015",20.7%,"$558,749,000",79.3%

## Table - 2023 Worldwide Box Office

In [73]:
worldwide_2023_df.columns

Index(['Rank', 'Release Group', 'Worldwide', 'Domestic', '%', 'Foreign',
       '%.1'],
      dtype='object')

In [74]:
worldwide_2023_df['Rank'].value_counts()

Rank
1      1
138    1
128    1
129    1
130    1
      ..
70     1
71     1
72     1
73     1
200    1
Name: count, Length: 200, dtype: int64

In [75]:
worldwide_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           200 non-null    int64
 1   Release Group  200 non-null    object
 2   Worldwide      200 non-null    object
 3   Domestic       200 non-null    object
 4   %              200 non-null    object
 5   Foreign        200 non-null    object
 6   %.1            200 non-null    object
dtypes: int64(1), object(6)
memory usage: 11.1+ KB

In [76]:
# Convert object data types to integer: 'Worldwide' column

worldwide_200 = worldwide_2023_df.copy()

worldwide_200['Worldwide'] = worldwide_200['Worldwide'].str.replace(',', '')
worldwide_200['Worldwide'] = worldwide_200['Worldwide'].str.replace('$', '')
worldwide_200['Worldwide'] = worldwide_200['Worldwide'].astype('int64', copy=True)

worldwide_200['Worldwide'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 200 entries, 0 to 199
Series name: Worldwide
Non-Null Count  Dtype
--------------  -----
200 non-null    int64
dtypes: int64(1)
memory usage: 1.7 KB

In [77]:
# Convert 'Domestic' & 'Foreign' columns to float, nan values cannot be converted to integer.

# 'Domestic' column
worldwide_200['Domestic'] = worldwide_200['Domestic'].str.replace(',', '')
worldwide_200['Domestic'] = worldwide_200['Domestic'].str.replace('$', '')

domestic_list = worldwide_200['Domestic'].values.tolist()

new_list = []
for i in range(len(domestic_list)):
    if domestic_list[i] == '-':
        new_list.append(np.nan)
    else:
        new_list.append(int(domestic_list[i]))

worldwide_200['Domestic'] = new_list

worldwide_200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           200 non-null    int64
 1   Release Group  200 non-null    object
 2   Worldwide      200 non-null    int64
 3   Domestic       130 non-null    float64
 4   %              200 non-null    object
 5   Foreign        200 non-null    object
 6   %.1            200 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 11.1+ KB

In [78]:
# 'Foreign' column
worldwide_200['Foreign'] = worldwide_200['Foreign'].str.replace(',', '')
worldwide_200['Foreign'] = worldwide_200['Foreign'].str.replace('$', '')

foreign_list = worldwide_200['Foreign'].values.tolist()

new_list = []
for i in range(len(foreign_list)):
    if foreign_list[i] == '-':
        new_list.append(np.nan)
    else:
        new_list.append(int(foreign_list[i]))

worldwide_200['Foreign'] = new_list

worldwide_200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           200 non-null    int64
 1   Release Group  200 non-null    object
 2   Worldwide      200 non-null    int64
 3   Domestic       130 non-null    float64
 4   %              200 non-null    object
 5   Foreign        192 non-null    float64
 6   %.1            200 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 11.1+ KB

In [79]:
# Convert '%' and '%.1' columns to float.

worldwide_200['%'] = pd.to_numeric(worldwide_200['%'].str.replace('%', ''), errors='coerce') / 100
worldwide_200['%.1'] = pd.to_numeric(worldwide_200['%.1'].str.replace('%', ''), errors='coerce') / 100

worldwide_200[['%', '%.1']].head()

       %    %.1
0  0.441  0.559
1  0.422  0.578
2  0.343  0.657
3  0.425  0.575
4  0.207  0.793

In [80]:
worldwide_200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           200 non-null    int64
 1   Release Group  200 non-null    object
 2   Worldwide      200 non-null    int64
 3   Domestic       130 non-null    float64
 4   %              130 non-null    float64
 5   Foreign        192 non-null    float64
 6   %.1            192 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 11.1+ KB

In [81]:
# Rename '%' and '%.1' columns

worldwide_200.rename(columns={'%': '% of Total', '%.1': '% of Total'}, inplace=True)

worldwide_200.head()

,Rank,Release Group,Worldwide,Domestic,% of Total,Foreign,% of Total
0,1,Barbie,1441828022,636228022.0,0.441,805600000.0,0.559
1,2,The Super Mario Bros. Movie,1361939570,574934330.0,0.422,787005240.0,0.578
2,3,Oppenheimer,952042355,326108355.0,0.343,625934000.0,0.657
3,4,Guardians of the Galaxy Vol. 3,845555777,358995815.0,0.425,486559962.0,0.575
4,5,Fast X,704875015,146126015.0,0.207,558749000.0,0.793

In [82]:
# Export DataFrame to a CSV file
worldwide_200.to_csv('2023_worldwide_box_office_data.csv', index=False)

## Movies and Trailers Fun Facts

In [83]:
import requests
from api_keys import api_key
import pandas as pd
import googleapiclient.discovery
import googleapiclient.errors
import google_auth_oauthlib.flow
import os
import json
from IPython.display import JSON
from pathlib import Path

ModuleNotFoundError: No module named 'api_keys'

In [ ]:
# Movie trailer data from Youtube (as of 12/27)

In [ ]:
#video_id for movie trailers of top 20 movies in 2023 worldwide
video_id = ['pBk4NYhWNMM',
            'TnGl01FkMMo',
            'uYPbbksJxIg',
            'bK6ldnjE3Y0',
            'u3V5KDHRQvk',
            'JqcncLPi9zw',
            '32RAq6JzY-w',
            'aOb15GVFZxU',
            'eoOaKN4qCKw',
            'cqGjhVJWtEg',
            'shW9i6k8cB0',
            'kpGo2_d3oYE',
            'avz06PDqDbM',
            'HurjfO_TDlQ',
            'hXzcyx9V0xw',
            'ZlNFpri-Y40',
            '5WfTEZJnv_8',
            'qEVUtrk8_B4',
            'yjRHZEUamCc',
            'itnqEauWQZM',
            'ZtuFgnxQMrA',
            'dG91B3hHyY4',
            'eQfMbSe7F2g',
            'RDE6Uz73A7g',
            'NxW_X4kzeus',
            '0VH9WCFV6XQ',
            'Z_T0o5uNrlY',
            'AHmCH7iB_IM',
            'xTaIZo8OJYE',
            'hebWYacbdvc',
            'r51cYVZWKdY',
            'QF-oyCwaArU',
            'otNh9bTjXWg',
            'wYmtRhKvmVE']

In [ ]:
#request data from youtube API
api_service_name = "youtube"
api_version = "v3"

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey=api_key)

request = youtube.videos().list(
    part="snippet,contentDetails,statistics",
    id= video_id
)
response = request.execute()

JSON(response)

In [ ]:
#loop through videos
trailer_data = []

for item in response['items']:
    data = {'videoName': item['snippet']['title'],
           'views': item['statistics']['viewCount'],
           }
    trailer_data.append(data)
    
trailer_data

In [ ]:
#Convert to dataframe
trailer_data_df = pd.DataFrame(trailer_data)
trailer_data_df

In [ ]:
trailer_data_df.to_csv("Resources/trailer_data.csv", index=False)

In [ ]:
# Worldwide movie data (as of 12/27)

In [ ]:
url = 'https://www.boxofficemojo.com/year/world/2023/'
response = requests.get(url)
worldwide = pd.read_html(response.text)
worldwide_df = worldwide[0] 
worldwide_df

In [ ]:
draft_worldwide_df = worldwide_df.drop(worldwide_df.index[20:200])

In [ ]:
clean_worldwide_df = draft_worldwide_df.drop(columns=['%', '%.1'])
clean_worldwide_df

In [ ]:
#clean_worldwide_df = clean_worldwide_df.set_index('Rank')

In [ ]:
clean_worldwide_df.rename(columns={"Release Group": "Video Name"}, inplace=True)
clean_worldwide_df.rename(columns={"Foreign": "Outside US"}, inplace=True)
clean_worldwide_df

In [ ]:
clean_worldwide_df.to_csv("Resources/movie_worldwide_data.csv", index=False)

In [ ]:
#Merge top movie and trailer data

In [ ]:
#Load trailer_clean CSV
trailer_clean_data_csv = Path("Resources/trailer_clean_data.csv")
movie_worldwide_data_csv = Path("Resources/movie_worldwide_data.csv")
#Read CSV
trailer_clean_data = pd.read_csv(trailer_clean_data_csv)
movie_worldwide_data = pd.read_csv(movie_worldwide_data_csv)

In [ ]:
#Rename column video name
trailer_clean_data.rename(columns={"videoname": "Video Name"}, inplace=True)
trailer_clean_data

In [ ]:
trailer_clean_data = trailer_clean_data.replace("Five Nights at Freddys","Five Nights at Freddy's")
trailer_clean_data

In [ ]:
trailer_clean_data = trailer_clean_data.replace("Guardians of the Galaxy Vol.3","Guardians of the Galaxy Vol. 3")
trailer_clean_data

In [ ]:
#Merge movie_clean and trailer_clean 
movie_trailer_df = movie_worldwide_data.merge(trailer_clean_data, how='inner', on= 'Video Name')
movie_trailer_df

In [ ]:
movie_trailer_df.dtypes

In [ ]:
movie_trailer_df['Worldwide'] = movie_trailer_df['Worldwide'].str.replace(',', '').str.replace('$', '').astype(int)

In [ ]:
movie_trailer_df['Domestic'] = movie_trailer_df['Domestic'].str.replace(',', '').str.replace('$', '').astype(int)
movie_trailer_df['Outside US'] = movie_trailer_df['Outside US'].str.replace(',', '').str.replace('$', '').astype(int)

In [ ]:
movie_trailer_df.dtypes

In [ ]:
movie_trailer_df.to_csv("Resources/movie_trailer_data.csv", index=False)